<VirtualHost *:80>
    ServerName wordcount.loc
    ServerAdmin webmaster@localhost
    ProxyPreserveHost On
    ProxyPass / http://127.0.0.1:8010/
    ProxyPassReverse / http://127.0.0.1:8010/
    ErrorLog ${APACHE_LOG_DIR}/wordcount_error.log
    CustomLog ${APACHE_LOG_DIR}/wordcount_access.log combined
</VirtualHost>